# 您从 ZEGO 控制台（https://console.zego.im/）获取的AppID和ServerSecret
# AppID and ServerSecret obtained by you from ZEGOCLOUD console（https://console.zegocloud.com/）
NEXT_PUBLIC_ZEGO_APP_ID=485383935
ZEGO_SERVER_SECRET=e3a04bd54a18195eab8c5675b9c3cf03

# 您从LLM服务商获取的LLM API Key、Base URL和模型
# 在接入测试期间（联系 ZEGO 技术支持开通 AI Agent 服务 2 周内），有部分模型可直接使用，请参考：https://doc-zh.zego.im/aiagent-server/api-reference/common-parameter-description#llm
# 接入测试期间，以下配置可直接使用，无需修改
# LLM API Key, Base URL and models obtained by you from the LLM service provider
# During the access test period (within 2 weeks after contacting ZEGOCLOUD technical support to activate the AI Agent service), some models can be used directly. Please refer to: https://www.zegocloud.com/docs/aiagent-server/api-reference/common-parameter-description#llm
# During the access test period, the following configurations can be used directly without modification
LLM_BASE_URL=http://8.153.102.200:31902/entry-agent-api/openai/v1/chat/completions/19
LLM_API_KEY=GAIA
LLM_MODEL=GAIA
ADD_AGENT_INFO=true
# 智能体提示词（不配置时会使用默认的提示词）
# LLM_SYSTEM_PROMPT="回答问题要求：你在做角色扮演，请按照人设要求与用户对话，直接输出回答，回答时以句号为维度，单次回答最长不要超过3句，不能超过100字。\n角色：李悦然\n绰号：李老师"

# 这里以字节跳动的TTS为例，您从字节跳动获取的TTS API Key、Token、Cluster和Voice Type
# 在接入测试期间（ 联系 ZEGO 技术支持开通 AI Agent 服务 2 周内）appid和token都可以直接填 zego_test 就可使用 tts（文本转语音） 服务。
# 接入测试期间，以下配置可直接使用，无需修改
# Taking ByteDance's TTS as an example, during the access test period (within 2 weeks after contacting ZEGOCLOUD technical support to activate the AI Agent service)
# both the appid and token can be directly filled with "zego_test" to use the TTS (Text-to-Speech) service.
# The following configurations can be used directly without modification during the access test period:
TTS_BYTEDANCE_APP_ID=zego_test
TTS_BYTEDANCE_TOKEN=zego_test
TTS_BYTEDANCE_CLUSTER=volcano_tts
TTS_BYTEDANCE_VOICE_TYPE=zh_female_wanwanxiaohe_moon_bigtts

# 创建智能体时的高级配置，可配置打断模式等，请参考：https://doc-zh.zego.im/aiagent-server/api-reference/agent-instance-management/create-agent-instance
# ADVANCED_CONFIG='{"InterruptMode":1}'
